* {
  font-family: Georgia;
}

body {
  margin: 0;
}



.background {
  background-image: URL('bgimg.jpg');
  background-size: cover;
  background position: center center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-attachment: fixed;
}

#header {
  z-index:1;
  position: fixed;
  width: 99%;
  margin-top: -20px;
  margin-left: 0px;
  height: 50px;
  background-color: #000000;
  margin-bottom: 1px;
  color: #D9D9D9;
}

.middle {
  position: relative;
  float: left;
  margin-top: 65px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%
  height: auto;
  margin-bottom: 70px;
  color: #D9D9D9;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-color: #999;
  color: #ffffff;
  border-radius: 3px;
  justify-content: center;
  position: relative;
}

.footer {
  position: absolute;
  clear: both;
  height: 60px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

footer div a {
    text-decoration: none;
    color: #ffffff;
    font-size: small;
}

footer div p {
    font-size: small;
}

footer div img {
  height: 30px;
  width: 30px;
  background-color: white;
  padding: 1px 1px 1px 1px;
}

#name {
  text-align: left;
  vertical-align: middle;
}

#mainImage {
  width: 85%;
  height: 85%;
}

.middle table, th, td {
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
}

.middle th, td {
    padding: 5px 15px;
    text-align: left;
}

tr:hover {
  background-color: #000000;
}

.pastTable {
  width: 95%;
}
